* {
    margin: 0;
    padding: 0;
}

:root {
    --Primary: #0F1FD1;
    --Primary100: #E7E8FA;
    --Primary500: #2735D6;
    --Purple600: #0F1FD1; 
    --Black: #000000;
    --White: #FDFEFF;
    --Neutral700: #060607;
    --Neutral400: #929299;
    --Neutral300: #B2B2B7;
    --Neutral100: #929299;
    --Neutral50: #F7F7F8;
    --Basic-Font: "Poppins", sans-serif;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.color-white {
    color: var(--White);
}

.neutral-btn {
    background-color: var(--Neutral50);
    border-radius: 16px;
    padding: 16px 26px;
}

.primary-btn-lrg {
    padding: 26px 0px;
    background-color: var(--Primary);
    border-radius: 16px;
}

.primary-btn-big {
    padding: 18px 20px;
    background-color: var(--Primary);
    border-radius: 16px;
}

.primary-btn-med {
    padding: 12px 16px;
    background-color: var(--Primary);
    border-radius: 16px;
    color: var(--White);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Black);
}

header {
    margin: 14px 64px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-family: var(--Basic-Font);
    font-weight: 400;
    display: flex;
    gap: 80px;
    margin-right: 113px;
}

.access-menu {
    font-family: var(--Basic-Font);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 43px;
}

.access-menu > li > a , .menu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-btn {
    gap: 8px;
}

/* Hero Section */

.hero {
    padding: 0px 64px;
    font-family: var(--Basic-Font);
    margin-top: 200px;
}

.hero .hero-title h1 {
    font-size: 64px;
    line-height: 84px;
}

.hero .hero-title .hero-bold {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-hero {
    background-color: var(--Neutral50);
    border-radius: 56px;
    margin-top: 100px;
}

.bottom-hero .bottom-hero-content {
    display: flex;
    justify-content: space-between;
}

.bottom-hero .mobile-app {
    margin-right: 24px;
    margin-bottom: 12px;
    position: relative;
    margin-top: -172px;
}

.bottom-hero .mobile-app .mobile-app-desc {
    width: 392px;
    position: absolute;
    font-size: 20px;
    color: var(--Neutral100);
    line-height: 32px;
    right: 445px;
    bottom: 100px;
}

.about-us {
    padding: 80px 32px;
    border-radius: 40px;
}

.about-us .users {
    margin-top: 84px;
    display: flex;
    gap: 24px;
}

.about-us .users .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-top: 16px;
}

.about-us .users .content .counter {
    font-size: 24px;

}

.about-us .users .content .content-users {
    width: 110px;
    color: var(--Neutral400);
    font-size: 16px;
}

.about-us .title {
    font-size: 32px;
}

.about-us-desc {
    width: 590px;
    margin: 24px 0px 64px;
    color: var(--Neutral700);
}

.get-started-btn > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Trusted Banks */

.trusted-banks {
    margin-top: 160px;
    margin-bottom: 246px;
    text-align: center;
}

.trusted-banks .title {
    margin-bottom: 106px;
}

.trusted-banks .title h2 {
    font-family: var(--Basic-Font);
    font-size: 64px;
}

.trusted-banks .bank-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trusted-banks .bank-logos .bank {
    width: 96px;
    height: 96px;
}

.trusted-banks .bank-logos .bank svg path {
    fill: var(--Neutral300);
    opacity: 0.4;
}

.trusted-banks .bank-logos .mellat svg path {
    fill: var(--Primary500);
    opacity: 0.64;
}

/* Download App Section */

.download-app {
    background-color: rgba(231, 232, 250, 0.4);
    border-radius: 48px;
    padding: 45px 0px 0px 45px;
    margin: 0px 64px;
    display: flex;
    justify-content: space-between;
}

.download-app .mobile-app2 {
    margin-top: 97px;
    margin-right: 24px;
    margin-bottom: -108px;
}

.download-app .content {
    font-family: var(--Basic-Font);
}

.download-app .content .title-section h4 {
    font-size: 32px;
    margin-bottom: 32px;
}

.download-app .content .title-section h2 {
    font-size: 48px;
}

.download-app .content .title-section h2 span {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.download-app .content .title-section h2 span svg {
    position: absolute;
    bottom: -12px;
    right: 0px;
}

.download-app .content .download-btns {
    display: flex;
    margin-top: 175px;
    gap: 8px;
}

/* Our Services */

.services {
    font-family: var(--Basic-Font);
    margin: 221px 64px 256px 64px;
}

.services > .title {
    text-align: center;
}

.services .title h3 {
    font-size: 72px;
    font-weight: 400;
}

.services .title .subtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--Neutral400);
}

.services .service-items .transfer,
.services .service-items .payments,
.services .service-items .acc-managements,
.services .service-items .cash-managements {
    padding: 24px 0px 0px 24px;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
}

.services .service-items .service-logo {
    align-self: flex-end;
    margin-bottom: -7px;
    margin-right: -1px;
}

.services .service-items .service-logo svg {
    border-bottom-right-radius: 48px;
}

.services .service-items .transfer,
.services .service-items .payments {
    background-color: rgba(231, 232, 250, 0.4);
}

.services .service-items .acc-managements,
.services .service-items .cash-managements {
    background-color: var(--Neutral50);
}

.services .service-items .transfer {
    grid-area: transfer;
}

.services .service-items .payments {
    grid-area: payments;
}

.services .service-items .acc-managements {
    grid-area: acc-manange;
}

.services .service-items .cash-managements {
    grid-area: cash-manage;
}

.services .service-items {
    display: grid;
    grid-template-areas: 'transfer acc-manange acc-manange acc-manange acc-manange acc-manange acc-manange acc-manange acc-manange acc-manange acc-manange'
                        'cash-manage cash-manage cash-manage cash-manage cash-manage cash-manage cash-manage cash-manage cash-manage cash-manage payments';
    gap: 24px;
    margin-top: 104px;
}

.services .service-items .icon {
    background-color: var(--White);
    width: fit-content;
    border-radius: 100%;
    padding: 16px;
    margin-bottom: 16px;
}

.services .service-items .title h4 {
    font-size: 32px;
    font-weight: 500;
    color: var(--Neutral700);
}

.services .service-items .content {
    width: 70%;
    margin-top: 24px;
}

.services .service-items .content p {
    color: var(--Neutral400);
    font-size: 20px;
}

.services .service-content {
    margin-bottom: 160px;
}

/* All Perks */

.all-perks {
    display: flex;
    margin: 0 64px 288px;
    font-family: var(--Basic-Font);
    gap: 54px;
    justify-content: space-between;
}

.all-perks .left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}

.all-perks .left-side .title h2 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 24px;
}

.all-perks .left-side .title h2 span {
    font-weight: 500;
}

.all-perks .left-side .subtitle p {
    color: var(--Neutral400);
    line-height: 31.68px;
    font-size: 24px;
    margin-bottom: 56px;
}

.all-perks .left-side .get-started-btn a {
    padding: 16px 32px;
    background-color: var(--Primary);
    border-radius: 16px;
    color: var(--White);
}

.all-perks .left-side .indicator {
    align-self: center;
    margin-bottom: 72px;
    margin-right: 450px;
}

.all-perks .right-side {
    flex-shrink: 1;
}

.all-perks .right-side .items {
    display: flex;
    gap: 40px;
}

.all-perks .right-side .items .left-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.all-perks .right-side .items .right-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 91px;
}

.all-perks .right-side .items .left-items > div,
.all-perks .right-side .items .right-items > div {
    text-align: center;
    padding: 65px 65px 45px 65px;
    border-radius: 32px;
    width: 425px;
}

.all-perks .right-side .items .logo {
    margin-bottom: 24px !important;
}

.all-perks .right-side .items .item-title {
    margin-bottom: 16px;
}

.all-perks .right-side .items .item-title h4 {
    font-weight: 500;
    font-size: 32px;
}

.all-perks .right-side .items .item-desc p {
    font-size: 24px;
    line-height: 31.68px;
    font-weight: 400;
    color: var(--Neutral400);
}

.all-perks .right-side .items .logo {
    background-color: rgba(247, 247, 248, 0.32);
    padding: 25px 32px;
    border-radius: 100px;
    width: fit-content;
    margin: 0 auto;
}

.all-perks .right-side .items .left-items .safety {
    box-shadow: 0px 4px 30.3px 0px rgba(24, 28, 62, 0.13);
}

.all-perks .right-side .items .left-items .safety .logo {
    background-color: rgba(247, 247, 248, 1);
}